<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<p id="notice"><%= notice %></p>

<h1>Bem vindo ao Inncurrency,</h1>
<h2>Sua plataforma de conversão de moedas.</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversors.each do |conversor| %>
      <tr>
        <td><%= link_to 'Show', conversor %></td>
        <td><%= link_to 'Edit', edit_conversor_path(conversor) %></td>
        <td><%= link_to 'Destroy', conversor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>Escolha sua moeda</h3>
<%= link_to 'Dólar (USD)', new_conversor_path, :class => "btn btn-primary" %>
<%= link_to 'Euro (EUR)', new_conversor_path, :class => "btn btn-success" %>
<%= link_to 'Peso Argentino (ARS)', new_conversor_path, :class => "btn btn-warning" %>
